body {
    margin: 0;
}

header {
    margin: 1%;
}

nav ul {
    padding: 0%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: darkblue;
}

nav ul li {
    border: orange 1px solid;
    margin-right: 1px;
    width: 20%;
    color: white;
    text-align: center;
    text-decoration: none;
}

.currentPage {
    background-color: #6699cc;
}

nav ul li:hover {
    background-color: lightblue;
}

input:focus {
    border: aqua 2px solid;
}


main ul {
    margin: 30% 20% 5% 20%;
}

main ul li:first-child a:hover {
    color: lightblue;
    font-weight: 700;
    
}

main ul li:nth-child(2) a:active {
    color: red;
    font-style: italic;
}

main ul li:last-child a:visited {
    color: yellow;
}

textarea {
    margin: 5% 20% auto 20%;
}

textarea:focus {
    color: green;
    font-size: 20px;
}